<h1><%= @title %></h1>


<p><%= @content %></p>


  <%  if params[:firstname] == "teddybear" %>
    <div>
      <a href = "/<%= @title %>/edit">Edit This Page</a>
      <form method="post" action="/<%= @title %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete this page">
      </form>
      </div>
  <% end %>
</br>
<a href="/">Back to Index</a>
</br></br></br>
<form>
  <input type="password" name="firstname">
  <input type="submit" value="MEMBER?">
</form>
</br></br>